---
layout: base.liquid
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<main class="w-full max-w-xl xl:max-w-screen-sm m-auto">
    <div class="mx-6 lg:m-0 p-6 xl:p-12 bg-white">
        <h1 class="mb-3 text-3xl xl:text-4xl font-bold leading-none tracking-tighter text-gray-800">
            {{- title | escape -}}
        </h1>
        <p class="mb-8 text-lg xl:text-xl font-medium leading-tight tracking-tight text-gray-400">
            It may have moved or been deleted.
        </p>
        <a class="inline-flex items-center px-3 py-2 xl:px-4 xl:py-3 bg-gray-800 text-white border border-gray-800 hover:bg-transparent hover:text-gray-800 transition-colors" href="/" title="Go home" aria-label="Go home">
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-none h-4 w-4 xl:w-5 xl:h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" focusable="false" role="img">
                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
            <span class="ml-2 text-sm xl:text-base font-medium">
                Go Home
            </span>
        </a>
    </div>
</main>